@model List<hr_erp.Infrastructure.Employee>

<div class="my-5">
    <a asp-action="Index">Назад</a>
    <h3 class="text-center">Список сотрудников</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Статус</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@Model[i].LastName</td>
                    <td><a asp-action="Employee" asp-route-id="@Model[i].Id">@Model[i].Name</a></td>
                    @if (Model[i].Permanent.Equals(true))
                    {
                        <td>Постоянный сотрудник</td>
                    }
                    else
                    {
                        <td>Временный сотрудник</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>